html {
    position: relative;
    min-height: 100%;
}


header {
  background-color: #DE6462;
  color: #DE8F62;
  font-family:Impact;
  letter-spacing: 2px;
  border-bottom: 15px solid #DE7CB2;
  border-radius: 25px;
  
}

footer {
  background-color: black;
  text-align: center;
  padding-right: 10px;
  font-style: italic;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 39px;
  width: 100%;
  overflow: hidden;
  

}

footer p {
  color: white;
  font-style: italic;
  
}

footer a {
  text-decoration: none;
  color: yellow;
}

footer a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 300;
  text-align: right;
  background-color: black;
}

.navbar {
  overflow: hidden;
  display: inline;
}

.navbar a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  

}

.navbar a:hover:not(.active) {
  background-color: black;
  color: #DE8F62;
}

.active {
  
  background-color:#DE8F62;
  border-radius: 9px;

   
}



.container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  float: right;
}

.card {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  display: inline-block;
  
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: 400;
}

.card-content {
  padding: 2px 16px;
  color: white;
}

.card :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.right-align {
    text-align: right;
}




article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #DE7862;
}




body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: black;
}

img {
  position: relative;
  max-width: 500px;
  border-radius: 50%;
  margin-top: 100px;
}
section {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
h1 {
  margin-bottom: 0;
  border-radius: 15px;
}

.info {
  
  color: white;
  font-size: 0.9em;
  font-weight: 300;
  float: left;
}


li a {
  color: white;
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.responsive img {
  border-radius: 0%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}